<main>

    {{!-- Formulário --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post">
                    <input type="text" name="nome" class="form-control" placeholder="Nome do produto">
                    <input type="number" name="valor" class="form-control" placeholder="valor do produto">
                    <input type="file" name="imagem" class="form-control">
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </form>
            </div>
        </div>

    </div>

</main>