<main>

    {{!-- Formulário --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form>
                    <input type="text" class="form-control" placeholder="Nome do produto">
                    <input type="number" class="form-control" placeholder="valor do produto">
                    <input type="file" class="form-control">
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </form>
            </div>
        </div>

    </div>

</main>